@using eTraveller.Areas.ETraveller.ViewModels
@model ShowBookingViewModel
@{
}

@section BodyStyle{
    <style>
        body {
            background-image: url('https://24slides.com/templates/upload/templates-previews/fc0ZeoGMdFGGm4HuheBDzEpYvzF1364xY3RSY9c2.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
    </style>
}

<h1>List of bookings by locations</h1>

<div class="row">
    <div class="col-8">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <select asp-for="LocationId" asp-items="ViewBag.LocationsCollection" class="form-control"></select>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Show Bookings</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
